<div class="row m-2">
    <div class="col-4 p-2">
      <productoForm (nuevoProductoEvent)="addProducto($event)"></productoForm>
    </div>
    <div class="col-8 p-2">
      <app-tabla-producto [repositorio]="repositorio"></app-tabla-producto>
    </div>
  </div>
