
<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" 
            name="name" [(ngModel)]="nuevoProducto.nombre" />
    </div>
    <div class="form-group">
        <label>Category</label>
        <input class="form-control" 
            name="category" [(ngModel)]="nuevoProducto.categoria" />
    </div>    
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" 
            name="name" [(ngModel)]="nuevoProducto.precio" />
    </div>    
    <button class="btn btn-primary" type="submit">
            Create
    </button>
</form>