<style>
    input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
    input.ng-dirty.ng-valid { border: 2px solid #6bc502 }
    </style>
    <div class="row m-2">
      <div class="col-6">
        <form class="m-2" novalidate (ngSubmit)="submitForm()">
          <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" name="nombre" [(ngModel)]="nuevoProducto.nombre" />
          </div>
          <div class="form-group">
            <label>Categoria</label>
            <input class="form-control" name="categoria" [(ngModel)]="nuevoProducto.categoria" />
          </div>
          <div class="form-group">
            <label>Precio</label>
            <input class="form-control" name="precio" [(ngModel)]="nuevoProducto.precio" />
          </div>
          <button class="btn btn-primary" type="submit">Crear</button>
        </form>
      </div>
      <div class="col-6">
        <table class="table table-sm table-bordered table-striped">
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
          </tr>
          <tr *ngFor="let item of getProductos(); let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.categoria}}</td>
            <td>{{item.precio}}</td>
          </tr>
        </table>
      </div>
    </div>