<table class="table table-sm table-bordered table-striped">
    <tr>
        <th></th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th></th>
    </tr>
    <tr *appIterador="let item of getProductos(); let i = index; let odd = odd; let even = even" [class.bg-info]="odd" [class.bg-warning]="even">
        <td style="vertical-align:middle">{{i + 1}}</td>
        <td style="vertical-align:middle">{{item.nombre}}</td>
        <td style="vertical-align:middle">{{item.categoria}}</td>
        <td style="vertical-align:middle">{{item.precio}}</td>
        <td class="text-xs-center">
            <button class="btn btn-danger btn-sm" (click)="deleteProducto(item.id)">
                Delete
            </button>
        </td>
    </tr>
</table>